<!DOCTYPE html>
<html>
    <body>
        <table border="1">
            <h1>Z Warriors</h1>
            {% for item in members %}
            <tr>
                <td><a href="update/{{ item.id }}">{{ item.id }}</a></td>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td><a href="delete/{{ item.id }}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="add/">Add member</a>
        </p>
    </body>
</html>